body {
  margin: 0;
  overflow: hidden;
  font-family: 'Roboto Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:focus,
:hover,
:active {
  outline: none;
}

#field::-webkit-scrollbar {
  width: 10px;
}

#field.dark::-webkit-scrollbar-thumb {
  background-color: #333444;
}

#field.light::-webkit-scrollbar-thumb {
  background-color: #aca9bb;
}

#field > div {
  min-height: 20px;
  width: 100%;
  cursor: default;
}

@keyframes blink-dark {
  0%,
  100% {
    background-color: #f4f4f4;
  }
  50% {
    background-color: transparent;
  }
}
@keyframes blink-light {
  0%,
  100% {
    background-color: #474554;
  }
  50% {
    background-color: transparent;
  }
}
